<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bored</title>
    <style>
        #relode {
            width: 50px;
            height: 50px;
        }
        #test {
            margin: auto;
            width: 100%;
            height:60%;
            padding: 10px;
            text-align: center;
            color:white;
        }

        body {
            background-image: url("https://i.pinimg.com/originals/a6/de/4d/a6de4d617b56a290514b441fe9789c5b.png") 

        }

        #text {
            font-size: 40px;
            color: white;
        }
        #type {
            text-align: center;
            color: white;
        }

    </style>
</head>
<body onload="Data()" style="overflow: hidden">


   <div id="test"></div>
    


    <h6 id="type"></h6>



    <img id="relode"  onclick="Data()" src="~/relode.png"></img>

    <script>
        function Data() {
            const api_url =
                "https://www.boredapi.com/api/activity";

            async function getapi(url) {

                // Storing response
                const response = await fetch(url);

                // Storing data in form of JSON
                var data = await response.json();
                console.log(data);
                document.getElementById("test").innerHTML = "<a id=\"text\" href = " + data.link + ">" + data.activity + "</a> ";
                document.getElementById("type").innerText = data.type;

            }

            getapi(api_url);
        }
    </script>
</body>
</html>